span.rti--tag {
	background-color: #fff1727e;
}

.rti--container:focus-within {
	border-color: #008080 !important;
	box-shadow: #008080 0 0 0 1px !important;
}

.rti--container {
	border-radius: 20px !important;
	border: 1px solid #b6b6b6 !important;
}

.add-new-form {
	padding-top: 2rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: flex-start;
}

.add-new-form label {
	display: flex;
	width: 100%;
	flex-direction: column;
	gap: 0.5rem;
}

.add-new-form input:not([name="ingredients"]),
select,
option,
textarea {
	padding: .5rem;
	border-radius: 20px;
	border: 1px solid #b6b6b6;
	outline: none;
	/* align-self: center; */
	/* min-width: 250px; */
}

.add-new-form div {
	/* align-self: center; */
	width: 100%;
}

input#image {
	width: 100%;
}

.image {
	padding-bottom: 0.5rem;
}

.add-new-form input:not([name="ingredients"]):focus,
select:focus,
textarea:focus {
	outline: 1px solid #008080;

}

textarea {
	align-self: stretch;
}

select {
	padding-right: 1rem;
}

.add-new-btn {
	background-color: #fff172;
	padding: 0.5rem 0.75rem;
	border: none;
	border-radius: 20px;
	transition: 0.2s ease;
	font-family: "Frank Ruhl Libre", serif;
	font-size: 1.17em;
	font-weight: bold;
	color: #646464;
	outline: none;
	cursor: pointer;
	align-self: center;
}

.add-new-btn:hover {
	box-shadow: 0 0 4px #008080;
}

.featured-label {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.featured-label div {
	display: flex;
	flex-direction: row;
	width: min-content;
	gap: 0.5rem;
	align-self: center;
}