header {
	z-index: 10;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fffded;
	border-bottom: 3px solid #008080;
	padding: 2rem;
	display: flex;
	justify-content: center;
	z-index: 10;
}

.nav-wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 1100px;
}

.logo {
	font-family: "Frank Ruhl Libre", serif;
	color: #008080;
	font-size: 36px;
	font-weight: 600;
	display: flex;
	gap: 1rem;
	justify-content: flex-start;
	align-items: center;
	cursor: pointer;
}

.logo img {
	height: 50px;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}

nav a {
	text-decoration: none;
	color: #646464;
	transition: 0.2s ease;
}

nav a:hover {
	color: #008080;
}

nav button {
	font-family: "Frank Ruhl Libre", serif;
	font-size: 1.17em;
	font-weight: bold;
	color: #646464;
	border: 2px solid #008080;
	background-color: transparent;
	outline: none;
	border-radius: 20px;
	padding: 0.25rem 0.75rem;
	transition: 0.2s ease;
	cursor: pointer;
}

nav button:hover {
	color: #008080;
}


@media only screen and (max-width: 820px) {

	nav h3 {
		font-size: 1rem;
	}

	.nav-wrapper {
		flex-direction: column;
		gap: 2rem;
	}

	nav {
		justify-content: space-around;
	}

	.logo {
		justify-content: center;
	}
}