/* .page {
    width: 100%;
} */

.page h1 {
    margin: 2rem 0 0;
}

.main-h1 {
    margin-top: 5rem !important;
}

.home {
    padding-left: 1rem;
}

@media only screen and (max-width: 768px) {

	.home{
		padding-left: 0;
        margin-top: 4rem;
	}
	
}