.to-top {
	display: flex;
	align-items: center;
	justify-content: center;
    font-size: 1.5rem;
    color: #008080;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 50;
	padding: .75rem;
	background-color: #fff172;
	border: none;
	outline: none;
	border-radius: 50%;
	visibility: hidden;
	opacity: 0;
	transition: 0.2s ease;
    cursor: pointer;
}

.visible {
	visibility: visible;
	opacity: 0.8;
    
}
