aside {
	background-color: #fffded;
	min-height: 50vh;
	min-width: 250px;
	padding: 1rem;
}

aside form {
	position: relative;
}

aside form input {
	font-family: "Work Sans", sans-serif;
	border: 2px solid #008080;
	border-radius: 20px;
	padding: 0.25rem 0.75rem;
	width: 100%;
    background-color: transparent;
    outline: none;
}

aside form button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    color: white;
    background-color: #008080;
    border: none;
    outline: none;
    width: 27px;
    border-radius: 50%;
    cursor: pointer;
}
