.recipe-img {
	width: 100%;
	max-height: 350px;
	object-fit: cover;
}

.single-post h1 {
	color: #008080;
    align-self: center;
    padding-bottom: 1rem;
}

.single-post {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(100% - 2rem);
}

.meta-data {
	display: flex;
	align-items: center;
	justify-content: space-between;
    align-self: stretch;
    margin-bottom: 2rem;
}
.meta-data span {
	display: flex;
	align-items: center;
	justify-content: space-between;
    font-style: italic;
    color: #969696;
}

.meta-data button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.like-icon {
	color: pink;
	font-size: 2rem;
	padding-left: 0.5rem;
}

.single-post p {
    margin-bottom: 2rem;
}

.single-post h2 {
    margin-bottom: 1rem;
}

.single-post ul, .single-post ol {
    padding-left: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.single-post ul li, .single-post ol li {
    text-align: left;
}
