*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	text-align: center;
	font-family: "Work Sans", sans-serif;
	color: #646464;
}

h1,
h2,
h3 {
	font-family: "Frank Ruhl Libre", serif;
}

.page {
	width: calc(100% - 2rem - 250px);
	padding-bottom: 150px;
}

p,
::placeholder,
input,
button {
	font-family: "Work Sans", sans-serif;
	font-size: 1rem;
}
